@font-face {
  font-family: "Hattrick";
  src: url("../fonts/Hattrick.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-container {
  display: flex;
  align-items: center;
  /* margin-top: 8em; */
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.main-container > ol > li {
  margin-bottom: var(--spacing-12);
}

.index-link-post {
  text-decoration: none;
}

.index-title {
  color: #42210b;
  font-family: Hattrick;
  font-size: 40px;
  font-weight: 400;
}

.index-description-post {
  color: #42210b;
  font-family: Aref Ruqaa Ink;
  font-size: 20px;
  font-weight: 400;
}
.index-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
