.main-container {
  display: flex;
  align-items: center;
  /* margin-top: 8em; */
  flex-direction: column;
}

.main-container > ol > li {
  margin-bottom: var(--spacing-12);
}

.index-title-post {
  color: #42210b;
  font-family: Hattrick;
  font-size: 40px;
  font-weight: 400;
}

.index-description-post {
  color: #42210b;
  font-family: Aref Ruqaa Ink;
  font-size: 20px;
  font-weight: 400;
}
.index-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
