.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5em; */
  /* padding: 0 800px 0 800px; */
}

.about-me-container > * {
  width: 1240px;
}

.about-me-title {
  color: #42210b;
  font-family: Hattrick;
  font-size: 60px;
  font-weight: 400;
}

.about-me-paragraph {
  color: #42210b;
  font-family: Aref Ruqaa Ink;
  font-size: 24px;
}
