.about-me-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-top: 5em; */
  /* padding: 0 800px 0 800px; */
  min-height: 18em;
}

.about-me-container > * {
  width: 1240px;
}

.about-me-title {
  color: #42210b;
  font-family: Hattrick;
  font-size: 40px;
  font-weight: 400;
}

.about-me-paragraph {
  color: #42210b;
  font-family: Aref Ruqaa Ink;
  font-size: 24px;
}

.about-me-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 980px;
}
.about-me-photo-container {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
}
.about-me-photo {
  /* width: 12em; */
  height: 18em;
}
